body
{
	font-family: "Courier New";
    text-align: center;
    color: white;
    background: black;
}
h1
{
	font-family: "Courier New";
    color: white;
    background: purple;
    margin: 80px;
}

a
{
	font-family: "Courier New";
    padding: 30px 30px;
    background: purple;
	font-size: 16px;
}

footer
{
	font-family: "Courier New";
    background: purple;
}

h1.error {
	color: red;
	background: purple;
}

h1.status_msg {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	background: purple;
	margin: auto;
	padding: 5px 5px 5px 5px;
	
}

.ca_button {
	color: white;
	background-color: purple;
	border-style: double;
	display: inline-block;
	font-size: 24px;
	font-family: "Courier New";
	text-align: center;
	cursor: pointer;
	width: 250px;
	height: 70px;
	margin-bottom: 30px;
}

a.login_notice {
	padding: 1px 1px 1px 1px;
	margin: 2px;
	background: black;
	color: blue;
	display: block;
}

