body
{
	font-family: "Courier New";
    text-align: center;
    color: white;
    background: black;
}
h1
{
	font-family: "Courier New";
    color: white;
    background: purple;
    margin: 60px;
}

h1.welcome {
	margin-top: 80px;
}

h2.signup_prompt {
	margin-bottom: 10px;
}

footer
{
	font-family: "Courier New";
    background: purple;
	margin-top: 550px;
}

h1.error {
	color: red;
	background: purple;
	font-family: "Courier New";
}

h1.status_msg {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	background: purple;
	margin: auto;
	padding: 5px 5px 5px 5px;
	margin-top: 40px;
	font-family: "Courier New";
}

a.login_notice {
	padding: 1px 1px 1px 1px;
	margin: 2px;
	background: black;
	color: blue;
	display: block;
}

.nav_bar {
	--fill-color: purple;
	display: block;
	position: static;
	text-transform: uppercase;
	
}

.nav_button {
	color: white;
	background: purple;
	border-style: solid;
	border-width: thin;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	transition-duration: 0.4s;
}

.nav_button:hover {
	background-color: silver;
	color: purple;
	text-decoration: underline overline;
}

.note_table {
	align: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.basic_button {
	font-size: 14px;
	padding: 8px 28px;
	border-radius: 10px;
	background-color: purple;
	color: white;
	border: 2px solid white;
	transition-duration: 0.4s;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.basic_button:hover {
	background-color: silver;
	color: purple;
	cursor: pointer;
}

#note_entry {
	align: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 55px;
}

.text_area {
	box-sizing: border-box;
	border: 2px solid purple;
	border-radius: 5px;
	margin: 10px 10px 25px 10px;
	resize: none;
	width: 50%;
	height: 200px;
	text-align: center;
	background-color: silver;
}

.text_area:focus {
	border: 3px solid purple;
}

#ca.basic_button {
	font-size: 24px;
	padding: 24px 64px;
	margin-top: 10px;
	margin-bottom: 15px;
}