body
{
    text-align: center;
    color: white;
    background: black;
}
h1
{
    color: white;
    background: purple;
    margin: 120px;
}

a
{
    padding: 30px 30px;
    background: purple;
}

footer
{
    background: purple;
}

h1.error {
	color: red;
	background: purple;
}

h1.status_msg {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	background: purple;
	margin: auto;
	padding: 5px 5px 5px 5px;
	
}