<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="../images/icon.png">
		<title>PyPad Create Account</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
	<nav class="nav_bar">
		<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
		<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
		<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
		{% if user %}
        <a href="{{ url_for('logout') }}" class="nav_button"> Logout</a> 
		{% else %}
		<a href="{{url_for('createAccount')}}" class="nav_button">Create Account</a> ||
		<a href="{{url_for('login')}}" class="nav_button">Login</a> 
		{% endif %}
		</nav>
	<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
	{% if user %}
	<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
	<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
	{% endif %}
	<main>
	<h1>Create a new account</h1>
		<p><b>
			Please fill out your name and email address so that we can add you and can start writing notes. You must fill
			out every field or you won't be able to create your account. You will be displayed what you are required
		</b></p>
        <form action="createAccount" method="post">
            <p><label>Enter Username: </label><input type="text" name="username"></p>
            <p><label>Enter email: </label><input type="email" name="email"></p>
            <p><label>Create password: </label><input type="password" name="password"></p>
            <p><input type="submit" value="Create Account"></p>
        </form>
		<h1 class="error">{{error}}</h1>
	</main>
	<footer>
		Copyright 2020 by Python Cobra Software LLC. All rights reserved.
	</footer>
	</body>
	</html>
