<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="static/icon.png">
		<title>PyPad Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
	<nav class="nav_bar">
		<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
		<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
		<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
		{% if user %}
        <a href="{{ url_for('logout') }}" class="nav_button"> Logout</a> 
		{% else %}
		<a href="{{url_for('createAccount')}}" class="nav_button">Create Account</a> ||
		<a href="{{url_for('login')}}" class="nav_button">Login</a> 
		{% endif %}
		</nav>
	<main>

		<h1 class="welcome">Welcome {{user}} to PyPad!</h1>
		<h2 class="signup_prompt">Don't have an account? Sign up here!</h2>
		
		<button id="ca" class="basic_button"><a href="{{url_for('createAccount')}}" style="color:white; text-decoration: none;">Create Account</a></button>
		<a href="{{url_for('login')}}" class="login_notice">Already have an account? Login here</a>
		
		<p>
			Feel free to use PyPad to create notes for any short notes for school, projects, etc.
			{% if not user %} If you are new to
			PyPad, then click on 'Create Account' to set up an account. If not a new user, then click on 'Login'
			login into your account.
			{% endif %}
			You can view your notes or create a note if you're already signed in.
		</p>
		<img src="static/icon.png" alt="PyPad Logo">
	
	</main>
	<footer class="homepage_footer">
		Copyright 2020 by Python Cobra Software LLC. All rights reserved.
	</footer>
	</body>
	</html>
