<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="../images/icon.png">
		<title>PyPad Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
	<a href={{url_for('index')}}>Home</a> ||
	<a>Create Account</a> ||
	<a>Login</a>
	<main>
		<nav>
		<a href="{{ url_for('index') }}"> Home</a> ||
		<a href="{{ url_for('get_notes') }}"> My Notes</a> ||
		<a href="{{ url_for('new_note') }}"> Add Note</a> ||
		</nav>

		<h1>Welcome to PyPad</h1>
		<p>Feel free to use this website. If you are new to PyPad, then click on 'Create Account' to set up. If not a
			new user, then login into your account.
		</p>
	</main>
	<footer>
		Copyright 2020 by Python Cobra
	</footer>
	</body>
	</html>
