<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="../images/icon.png">
		<title>PyPad Log in</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
	<a href={{url_for('index')}}>Home</a> ||
	<a href={{url_for('createAccount')}}>Create Account</a> ||
	<a href="{{url_for('login')}}">Login</a> ||
	<a href="{{url_for('get_notes')}}"><u>My notes</u></a> ||
	<a href="{{url_for('new_note')}}"><u>Create new note</u></a> ||
	<main>
		<h1><b>Please fill out login information</b></h1>
        <form action="login" method="get">
            <p><label>Enter email:</label><input type="email" name="email"></p>
            <p><label>Enter password:</label><input type="text" name="password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
	</main>
	<footer>
		Copyright 2020 by Python Cobra
	</footer>
	</body>
	</html>
