<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad">
        <link rel="shortcut icon" type="image/png" href="../images/icon.png">
        <title>PyPad - View your Notes</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> ||
        <a href="{{ url_for('get_notes') }}"> My Notes</a> ||
        <a href="{{ url_for('new_note') }}">Add Note</a> ||
        <a href="{{ url_for('logout') }}">Logout</a>||
    </nav>
        <h1>Welcome {{user}} to PyPad!</h1>
        <h1>Listing notes</h1>
        <p>
            Below are your notes that you have created listed by the date they were made. View, edit or delete any of
            your notes.
        </p>

        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td><a href="{{ url_for('get_note', note_id=note.id) }}">{{ note.title }}</a></td>
                <td>{{ note.date }}</td>
                <td><a href="{{ url_for('update_note', note_id=note.id) }}">Edit</a></td>
                <td>
                    <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                <td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
