<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <link rel="shortcut icon" type="image/png" href="static/icon.png">
        <title>Pypad - Note</title>
        <meta name="description" content="UNCC Notes App">
        <title>Pypad - Note</title>
        <meta name="description" content="PyPad">
        <title>PyPad - View your Note</title>

        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>

		 <nav class="nav_bar">
		<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
		<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
		<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
		{% if user %}
        <a href="{{ url_for('logout') }}" class="nav_button"> Logout</a> 
		{% else %}
		<a href="{{url_for('createAccount')}}" class="nav_button">Create Account</a> ||
		<a href="{{url_for('login')}}" class="nav_button">Login</a> 
		{% endif %}
		</nav>

    <main>
            <h1>Note details: </h1>

        <table id="note_entry">
            <tr>
                <th>Title:</th>
                <h3><td>{{ note.title }}</td></h3>
            </tr>
            <tr>
                <th>Text:</th>
                <td>{{ note.text }}</td>
            </tr>
            <tr>
                <th>Date:</th>
                 <td>{{ note.date }}</td
            </tr>

        </table>
				
				{% if note.comments %}
					{% if note.comments | length > 0 %}
						<h2>Comments</h2>
						<ul>
						{% for comment in note.comments %}
							<form action="{{url_for('delete_comment', note_id=note.id, comment_id=comment.id)}}", method="post">
							<li>{{comment.text}}  :  {{comment.date}}    :     
							<input type="submit" value="Delete Comment" class="basic_button"/></li>
							</form>
						{% endfor %}
						</ul>
					{% endif %}
				{% endif %}
				
		<form action="{{ url_for('new_comment', note_id=note.id)}}", method="post">
		<h2>Add a comment</h2>
		<textarea class="text_area" name="commentText" rows="6" cols="0">
			Add your new comment here..
		</textarea>
		<br>
		<input type="submit" value="Add Comment" class="basic_button"/>
		</form>
            </tr>
        </table>
    </main>
    <footer>
		Copyright 2020 by Python Cobra Software LLC. All rights reserved.
	</footer>
    </body>
</html>
