<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="../images/icon.png">
		<title>PyPad Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
		<nav>
		<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
		<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
		<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
		{% if user %}
        <a href="{{ url_for('logout') }}" class="nav_button"> Logout</a> 
		{% else %}
		<a href="{{url_for('createAccount')}}" class="nav_button">Create Account</a> ||
		<a href="{{url_for('login')}}" class="nav_button">Login</a> 
		{% endif %}
		</nav>
		<main>
			<h1 class="welcome">Forgot Password</h1>

			<form action="recover" method="post">
			<p><label>Enter your email address: </label><input type="email" name="email"></p>
			<p><input type="submit" value="Send reset link"></p>
			</form>
			<br>
			<br>
			<p>If there is an account associated with that email, we will send a link
			to reset your password.</p>


			<h1 class="error">{{error}}</h1>
		</main>
		<footer>
		Copyright 2020 by Python Cobra Software LLC. All rights reserved.
		</footer>
	</body>
	</html>
