<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="static/icon.png">
		<title>PyPad Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	<body>
	<nav>
		<a href="{{url_for('index')}}" class="nav_button">Home</a> ||
		<a href="{{url_for('get_notes')}}" class="nav_button"><u>My notes</u></a> ||
		<a href="{{url_for('new_note')}}" class="nav_button"><u>Create new note</u></a> ||
		{% if user %}
        <a href="{{ url_for('logout') }}" class="nav_button"> Logout</a> 
		{% else %}
		<a href="{{url_for('createAccount')}}" class="nav_button">Create Account</a> ||
		<a href="{{url_for('login')}}" class="nav_button">Login</a> 
		{% endif %}
		</nav>
	<main>
		<h1 class="welcome">Reset Password</h1>
	
		<form action="{{url_for('reset_password', token=token)}}" method="post">
		<p><label>New Password: </label><input type="password" name="newPW"></p>
		<p><label>Confirm new password: </label><input type="password" name="conf_newPW"></p>
		<p><input type="submit" value="Reset Password" class="basic_button"></p>
		</form>
	
	
		<h1 class="error">{{error}}</h1>
	</main>
	<footer>
		Copyright 2020 by Python Cobra Software LLC. All rights reserved.
	</footer>
	
	</body>
	</html>
