<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PyPad Literary Development">
		<link rel="shortcut icon" type="image/png" href="../images/icon.png">
		<title>Status</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
	</head>
	
	 <body>
           <!--  add navigation links -->
			<!-- Navigation bar -->
		<nav> 
		<a href="{{url_for('index')}}"><u>Home</u></a>
		</nav>
		
		
		
		</body>